<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>영화 데이터 받아오기</h1>

  <form action="{% url "movies:movie_list" %}">
    <input type="submit" value="받아오기">
  </form>

  {% for movie in movies %}
  <p>제목 : {{movie.title}}</p>
    {% if movie.poster %}
      <p>{{ movie.poster.url }}</p>
      <img src="{{ movie.poster.url }}" alt="poster">
    {% endif %}
  {% endfor %}
</body>
</html>